# TypeScript: js files are generated using tsc transpiler
/test/other/typescript/*

# Integer is part of the Closure Library
/lib/types/integer.js

# TinkerPop-based files
/lib/datastax/graph/type-serializers.js

/out/**/*.js