lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
.idea
.vscode

npm-debug.log
node_modules
testing.js
test/localConfig.json
.DS_Store
out/
/certs
/docs
**/typescript/*.js
**/typescript/*.js.map

tsdoc-metadata.json
temp