language: node_js
node_js:
  - "0.10"

before_install:
  - sudo sh -c "echo 'JVM_OPTS=\"\${JVM_OPTS} -Djava.net.preferIPv4Stack=false\"' >> /usr/local/cassandra/conf/cassandra-env.sh"
  - sudo service cassandra start

branches:
  only:
    - master
    - stable
    - protocol1

before_script:
  - sleep 5