---
redirect_to:
    - https://docs.datastax.com/en/developer/nodejs-driver/latest/features/datatypes/numerical/
---
<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax Nodejs Driver for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>DataStax Nodejs Driver - Numerical values</title>

    <link rel="icon" href="../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../favicon.png">
    <link href="../../../css/style.css" rel="stylesheet">
    <link href="../../../css/pygments.css" rel="stylesheet">
    <link href="../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target="#table-of-contents" data-offset="69">
    <header class="container-fluid navbar">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand" href="../../../"><img alt="Brand" src="../../../img/logo.png">DataStax Nodejs Driver</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" role="nav">
                <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
                <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
                <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form id="search" class="form-search dropdown visible-lg-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('v3.1')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
                </div>
                <ul class="dropdown-menu search-results" role="menu">
                  <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
                </ul>
              </form>
            </div>
            <div class="col-md-4">
              <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row crumbs-wrapper">
        <div class="col-md-12">
          <nav id="crumbs" data-spy="affix" data-offset-top="130">
            <ol class="breadcrumb">
              
              <li>
                <div class="btn-group">
                  <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    v3.1
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li class="disabled"><a href="./">v3.1</a></li>
                  
                    <li><a href="../../../v3.0/features/datatypes/numerical/">v3.0</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../../../">Home</a></li>
              
              
              
              
              
              <li><a href="../../">Features</a></li>
              
              
              
              
              
              <li><a href="../">CQL data types to JavaScript types</a></li>
              
              
              
              
              
              <li class="active">Numerical values</li>
              <li class="dropdown" id="table-of-contents">
                <div class="btn-group">
                  <button id="current-section" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Jump to&#8230; <span class="caret"></span><span class="sr-only">Table of Contents</span>
                  </button>
                  <ul class="dropdown-menu nav nav-pills nav-stacked">
                    <li><a href="#numerical-values">Page Top <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></li>
<li><a href="#int-float-and-double">int, float, and double
</a></li>
<li><a href="#varint">varint
</a></li>
<li><a href="#smallint-and-tinyint">smallint and tinyint
</a></li>
                  </ul>
                </div>
              </li>
              
              
              
            </ol>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3>Contents</h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  
  <li class="active">
    <a href="../../">Features <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../../address-resolution/">Address resolution <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../batch/">Batch statements <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="../">CQL data types to JavaScript types <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../collections/">Collections <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../datetime/">Date and time representation <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../nulls/">Null and unset values <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="./" class="current">Numerical values <small>page</small></a>
    
  </li>
  
  
  
  
  <li>
    <a href="../tuples/">Tuples <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../uuids/">UUID and time-based UUID data types <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../udts/">User-defined types <small>page</small></a>
  </li>
  
  
</ul>

  </li>
  
  
  
  
  <li>
    <a href="../../metadata/">Cluster and schema metadata <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../connection-pooling/">Connection pooling <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../execution-profiles/">Execution Profiles (experimental) <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../paging/">Fetching large result sets <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../native-protocol/">Native protocol <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../parameterized-queries/">Parameterized queries <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../query-warnings/">Query warnings <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../tuning-policies/">Tuning policies <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../udfs/">User-defined functions and aggregates <small>page</small></a>
  </li>
  
  
</ul>

  </li>
  
  
  
  
  <li>
    <a href="../../../faq/">Frequently Asked Questions <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../../getting-started/">Getting started <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../../coding-rules/">Three simple rules for coding with the driver <small>page</small></a>
  </li>
  
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          

<h1 id="numerical-values" class="target">Numerical values<a class="anchor" href="#numerical-values" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<p>The driver provides support for all the CQL numerical datatypes, such as int, float, double, bigint, varint, and
decimal. There is only one numerical datatype in ECMAScript standard, <code>Number</code> which represent a
double-precision 64-bit value. It is used by the driver to handle double, float, int, smallint and tinyint values.</p>

<h2 id="int-float-and-double" class="target">int, float, and double<a class="anchor" href="#int-float-and-double" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>JavaScript provides methods to operate with Numbers (that is, IEEE 754 double-precision floats) and built-in operators
(sum, subtraction, division, bitwise, etc), making it a good fit for CQL datatypes int, float. and double.</p>

<p>When decoding any of these datatype values, it is returned as a <code>Number</code>.</p>
<pre class="highlight"><code><span class="nx">client</span><span class="p">.</span><span class="nx">execute</span><span class="p">(</span><span class="s1">'SELECT int_val, float_val, double_val FROM tbl'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">result</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">assert</span><span class="p">.</span><span class="nx">ifError</span><span class="p">(</span><span class="nx">err</span><span class="p">);</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="k">typeof</span> <span class="nx">result</span><span class="p">.</span><span class="nx">rows</span><span class="p">[</span><span class="mi">0</span><span class="p">][</span><span class="s1">'int_val'</span><span class="p">]);</span>    <span class="c1">// Number</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="k">typeof</span> <span class="nx">result</span><span class="p">.</span><span class="nx">rows</span><span class="p">[</span><span class="mi">0</span><span class="p">][</span><span class="s1">'float_val'</span><span class="p">]);</span>  <span class="c1">// Number</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="k">typeof</span> <span class="nx">result</span><span class="p">.</span><span class="nx">rows</span><span class="p">[</span><span class="mi">0</span><span class="p">][</span><span class="s1">'double_val'</span><span class="p">]);</span> <span class="c1">// Number</span>
<span class="p">});</span>
<span class="err">```</span><span class="nx">javascript</span>

<span class="nx">When</span> <span class="nx">encoding</span> <span class="nx">the</span> <span class="nx">data</span><span class="p">,</span> <span class="nx">the</span> <span class="nx">driver</span> <span class="nx">tries</span> <span class="nx">to</span> <span class="nx">encode</span> <span class="nx">a</span> <span class="err">`</span><span class="nb">Number</span><span class="err">`</span> <span class="nx">as</span> <span class="kr">double</span> <span class="nx">because</span> <span class="nx">it</span> <span class="nx">can</span> <span class="nx">not</span> <span class="nx">automatically</span> <span class="nx">determine</span> <span class="k">if</span> <span class="nx">is</span>
<span class="nx">dealing</span> <span class="kd">with</span> <span class="nx">an</span> <span class="kr">int</span><span class="p">,</span> <span class="nx">a</span> <span class="kr">float</span><span class="p">,</span> <span class="nx">or</span> <span class="nx">a</span> <span class="kr">double</span><span class="p">.</span>

<span class="nx">Inserting</span> <span class="nx">a</span> <span class="nb">Number</span> <span class="nx">value</span> <span class="nx">as</span> <span class="nx">a</span> <span class="kr">double</span> <span class="nx">succeeds</span><span class="err">:</span>

<span class="err">```</span><span class="nx">javascript</span>
<span class="kr">const</span> <span class="nx">query</span> <span class="o">=</span> <span class="s1">'INSERT INTO tbl (id, double_val) VALUES (?, ?)'</span><span class="p">;</span>
<span class="nx">client</span><span class="p">.</span><span class="nx">execute</span><span class="p">(</span><span class="nx">query</span><span class="p">,</span> <span class="p">[</span><span class="nx">id</span><span class="p">,</span> <span class="mf">1.2</span><span class="p">],</span> <span class="nx">callback</span><span class="p">);</span>
</code></pre>
<p>But doing the same with a float fails:</p>
<pre class="highlight"><code><span class="kr">const</span> <span class="nx">query</span> <span class="o">=</span> <span class="s1">'INSERT INTO tbl (id, float_val) VALUES (?, ?)'</span><span class="p">;</span>
<span class="nx">client</span><span class="p">.</span><span class="nx">execute</span><span class="p">(</span><span class="nx">query</span><span class="p">,</span> <span class="p">[</span><span class="nx">id</span><span class="p">,</span> <span class="mf">1.2</span><span class="p">],</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">err</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">err</span><span class="p">)</span> <span class="c1">// ResponseError: Expected 4 or 0 byte value for a float (8)</span>
<span class="p">});</span>
</code></pre>
<p>Trying to do the same with an int, also fails because Cassandra expects a float or an int, and the driver sent a 64-bit
double.</p>
<pre class="highlight"><code><span class="kr">const</span> <span class="nx">query</span> <span class="o">=</span> <span class="s1">'INSERT INTO tbl (id, int_val) VALUES (?, ?)'</span><span class="p">;</span>
<span class="nx">client</span><span class="p">.</span><span class="nx">execute</span><span class="p">(</span><span class="nx">query</span><span class="p">,</span> <span class="p">[</span><span class="nx">id</span><span class="p">,</span> <span class="mi">1</span><span class="p">],</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">err</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">err</span><span class="p">)</span> <span class="c1">// ResponseError: Expected 4 or 0 byte int (8)</span>
<span class="p">});</span>
</code></pre>
<p>To overcome this limitation, you should prepare your queries. Because preparing and executing statements in the driver
does not require chaining two asynchronous calls, you can set the prepare flag in the query options and the driver
handles the rest.</p>

<p>The previous query, using the prepare flag, succeeds no matter if it is an int, float, or double:</p>
<pre class="highlight"><code><span class="kr">const</span> <span class="nx">query</span> <span class="o">=</span> <span class="s1">'INSERT INTO tbl (id, int_val) VALUES (?, ?)'</span><span class="p">;</span>
<span class="nx">client</span><span class="p">.</span><span class="nx">execute</span><span class="p">(</span><span class="nx">query</span><span class="p">,</span> <span class="p">[</span><span class="nx">id</span><span class="p">,</span> <span class="mi">1</span><span class="p">],</span> <span class="p">{</span> <span class="na">prepare</span><span class="p">:</span> <span class="kc">true</span> <span class="p">},</span> <span class="nx">callback</span><span class="p">);</span>
<span class="err">```</span><span class="nx">javascript</span>


<span class="err">##</span> <span class="nx">decimal</span> 

<span class="nx">The</span> <span class="err">`</span><span class="nx">BigDecimal</span><span class="err">`</span> <span class="kr">class</span> <span class="nx">provides</span> <span class="nx">support</span> <span class="k">for</span> <span class="nx">representing</span> <span class="nx">the</span> <span class="nx">CQL</span> <span class="nx">decimal</span> <span class="nx">datatype</span><span class="p">,</span> <span class="nx">because</span> <span class="nx">JavaScript</span> <span class="nx">has</span> <span class="nx">no</span> <span class="nx">built</span><span class="o">-</span><span class="k">in</span>
<span class="nx">arbitrary</span> <span class="nx">precision</span> <span class="nx">decimal</span> <span class="nx">representation</span><span class="p">.</span>

<span class="err">```</span><span class="nx">javascript</span>
<span class="kr">const</span> <span class="nx">BigDecimal</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'cassandra-driver'</span><span class="p">).</span><span class="nx">types</span><span class="p">.</span><span class="nx">BigDecimal</span><span class="p">;</span>
<span class="kr">const</span> <span class="nx">value1</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">BigDecimal</span><span class="p">(</span><span class="mi">153</span><span class="p">,</span> <span class="mi">2</span><span class="p">);</span>
<span class="kr">const</span> <span class="nx">value2</span> <span class="o">=</span> <span class="nx">BigDecimal</span><span class="p">.</span><span class="nx">fromString</span><span class="p">(</span><span class="s1">'1.53'</span><span class="p">);</span>
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">value1</span><span class="p">.</span><span class="nx">toString</span><span class="p">());</span>     <span class="c1">// 1.53</span>
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">value2</span><span class="p">.</span><span class="nx">toString</span><span class="p">());</span>     <span class="c1">// 1.53</span>
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">value1</span><span class="p">.</span><span class="nx">equals</span><span class="p">(</span><span class="nx">value2</span><span class="p">));</span> <span class="c1">// true</span>
</code></pre>
<p>The driver decodes CQL decimal datatype values as instances of <code>BigDecimal</code>.</p>
<pre class="highlight"><code><span class="nx">client</span><span class="p">.</span><span class="nx">execute</span><span class="p">(</span><span class="s1">'SELECT decimal_val FROM users'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">result</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">assert</span><span class="p">.</span><span class="nx">ifError</span><span class="p">(</span><span class="nx">err</span><span class="p">);</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">result</span><span class="p">.</span><span class="nx">rows</span><span class="p">[</span><span class="mi">0</span><span class="p">][</span><span class="s1">'decimal_val'</span><span class="p">]</span> <span class="k">instanceof</span> <span class="nx">BigDecimal</span><span class="p">);</span> <span class="c1">// true</span>
<span class="p">});</span>
<span class="err">```</span><span class="nx">javascript</span>

<span class="err">##</span> <span class="nx">bigint</span> 

<span class="nx">The</span> <span class="err">`</span><span class="nx">Long</span><span class="err">`</span> <span class="kr">class</span> <span class="nx">provides</span> <span class="nx">support</span> <span class="k">for</span> <span class="nx">representing</span> <span class="nx">the</span> <span class="nx">CQL</span> <span class="nx">bigint</span> <span class="nx">datatype</span><span class="p">,</span> <span class="nx">because</span> <span class="nx">JavaScript</span> <span class="nx">has</span> <span class="nx">no</span> <span class="nx">built</span><span class="o">-</span><span class="k">in</span> <span class="mi">64</span><span class="o">-</span><span class="nx">bit</span>
<span class="nx">integer</span> <span class="nx">representation</span><span class="p">.</span>

<span class="err">```</span><span class="nx">javascript</span>
<span class="kr">const</span> <span class="nx">Long</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'cassandra-driver'</span><span class="p">).</span><span class="nx">types</span><span class="p">.</span><span class="nx">Long</span><span class="p">;</span>
<span class="kr">const</span> <span class="nx">value1</span> <span class="o">=</span> <span class="nx">Long</span><span class="p">.</span><span class="nx">fromNumber</span><span class="p">(</span><span class="mi">101</span><span class="p">);</span>
<span class="kr">const</span> <span class="nx">value2</span> <span class="o">=</span> <span class="nx">Long</span><span class="p">.</span><span class="nx">fromString</span><span class="p">(</span><span class="s1">'101'</span><span class="p">);</span>
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">value1</span><span class="p">.</span><span class="nx">toString</span><span class="p">());</span>             <span class="c1">// 101</span>
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">value2</span><span class="p">.</span><span class="nx">toString</span><span class="p">());</span>             <span class="c1">// 101</span>
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">value1</span><span class="p">.</span><span class="nx">equals</span><span class="p">(</span><span class="nx">value2</span><span class="p">));</span>         <span class="c1">// true</span>
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">value1</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="nx">value2</span><span class="p">).</span><span class="nx">toString</span><span class="p">());</span> <span class="c1">// 202</span>
</code></pre>
<p>The driver decodes CQL bigint datatype values as instances of <code>Long</code>.</p>
<pre class="highlight"><code><span class="nx">client</span><span class="p">.</span><span class="nx">execute</span><span class="p">(</span><span class="s1">'SELECT bigint_val FROM users'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">result</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">assert</span><span class="p">.</span><span class="nx">ifError</span><span class="p">(</span><span class="nx">err</span><span class="p">);</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">result</span><span class="p">.</span><span class="nx">rows</span><span class="p">[</span><span class="mi">0</span><span class="p">][</span><span class="s1">'bigint_val'</span><span class="p">]</span> <span class="k">instanceof</span> <span class="nx">Long</span><span class="p">);</span> <span class="c1">// true</span>
<span class="p">});</span>
</code></pre>
<h2 id="varint" class="target">varint<a class="anchor" href="#varint" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>The <code>Integer</code> class, originally part of the Google Closure math library, provides support for representing CQL varint
datatype values, because JavaScript has no arbitrarily-large signed integer representation.</p>
<pre class="highlight"><code><span class="kr">const</span> <span class="nx">Integer</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'cassandra-driver'</span><span class="p">).</span><span class="nx">types</span><span class="p">.</span><span class="nx">Integer</span><span class="p">;</span>
<span class="kr">const</span> <span class="nx">value1</span> <span class="o">=</span> <span class="nx">Integer</span><span class="p">.</span><span class="nx">fromNumber</span><span class="p">(</span><span class="mi">404</span><span class="p">);</span>
<span class="kr">const</span> <span class="nx">value2</span> <span class="o">=</span> <span class="nx">Integer</span><span class="p">.</span><span class="nx">fromString</span><span class="p">(</span><span class="mi">404</span><span class="p">);</span>
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">value1</span><span class="p">.</span><span class="nx">toString</span><span class="p">());</span>             <span class="c1">// 404</span>
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">value2</span><span class="p">.</span><span class="nx">toString</span><span class="p">());</span>             <span class="c1">// 404</span>
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">value1</span><span class="p">.</span><span class="nx">equals</span><span class="p">(</span><span class="nx">value2</span><span class="p">));</span>         <span class="c1">// true</span>
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">value1</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="nx">value2</span><span class="p">).</span><span class="nx">toString</span><span class="p">());</span> <span class="c1">// 808</span>
</code></pre>
<p>The driver decodes CQL varint datatype values as instances of <code>Integer</code>.</p>
<pre class="highlight"><code><span class="nx">client</span><span class="p">.</span><span class="nx">execute</span><span class="p">(</span><span class="s1">'SELECT varint_val FROM users'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">result</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">assert</span><span class="p">.</span><span class="nx">ifError</span><span class="p">(</span><span class="nx">err</span><span class="p">);</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">result</span><span class="p">.</span><span class="nx">rows</span><span class="p">[</span><span class="mi">0</span><span class="p">][</span><span class="s1">'varint_val'</span><span class="p">]</span> <span class="k">instanceof</span> <span class="nx">Integer</span><span class="p">);</span> <span class="c1">// true</span>
<span class="p">});</span>
</code></pre>
<h2 id="smallint-and-tinyint" class="target">smallint and tinyint<a class="anchor" href="#smallint-and-tinyint" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>Cassandra 2.2 introduced smallint for 2-byte numerical representation and tinyint for 1-byte numerical representation.</p>

<p>The driver represents these types as <code>Number</code> to take advantage of the ECMAScript built-in operations for <code>Number</code> (sum,
subtraction, division, bitwise, etc).</p>

<p>For tinyint only Numbers between -128 and 127 are valid, and for smallint only Numbers between -32768 and 32767.
Numbers outside valid ranges will callback with TypeError when executing.</p>


        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/nodejs-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/nodejs-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/projects/NODEJS/issues">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/nodejs-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://www.npmjs.org/package/cassandra-driver">Npm</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/angular.js"></script>
    <script src="../../../js/mousetrap.js"></script>
    <script src="../../../js/hotkeys.js"></script>
    <script src="../../../js/ZeroClipboard.js"></script>
    <script src="../../../js/lunr.js"></script>
    <script src="../../../js/app.js"></script>
  </body>
</html>
